{% extends 'silly_auth/_base.html' %}

{% block content %}


  <h1 class="title h1">Reset Password</h1>
  {% if site_name %}
  <h2 class="subtitle h2">{{ site_name }}</h2>
  {% endif %}

  Account: {{ user.username }}

  <br>

  <form method="post">
      {% csrf_token %}

      <p>
          Enter your new password <br>
          {{ form.password }} <br>
          {% for error in form.errors.password %}
          <span style="color: red;">{{ error }}</span>
          {% endfor %}

      </p>
      <p>
          Confirm your password <br>
          {{ form.password2 }} <br>
          {% for error in form.errors.password2 %}
          <span style="color: red;">{{ error }}</span>
          {% endfor %}

      </p>
      <br>
      <p>
          <input type="submit" class="button is-primary btn btn-primary m-2 p-2" value="reset password">
      </p>

  </form>


{% endblock content %}